//variables

$fa-font-path: "../webfonts";

// font 
$font:'Rubik', sans-serif;
$font-13:13px;
$font-14:14px;
$font-15:15px;
$font-16:16px;
$font-18:18px;
$font-20:20px;
$font-22:22px;
$font-24:24px;
$font-26:26px;
$font-28:28px;
$font-30:30px;
$font-32:32px;
$font-38:38px;
$font-42:42px;
$font-45:45px;
$font-50:50px;
$font-60:60px;

// colors

$color1:#685F98;
$color2:#1B1344;
$color3:#ffffff;
$color4:#FDD0D2;
$color5:#8F8F8F;
$color6:#FFBB58;
$color7:#F7E698;
$color8:#FFE6E2;
$color9:#FFD200;
$color10:#FD907E;
$color11:#1B1344;
$color12:#FED385;
$color13:#be63f9;
$color14:#D2D2D2;
$color15:#F5E6FE;
$color16:#F7F8FB;
$color17:#f1f1f1;
$color18:#f8f9f9;
$color19:#828893;
$color20:#ECF7FD;
$color21:rgba(104,95,152,0.08);
$color22:#f7f6ff;

$color-transparent:transparent;
$tp-0:0;
$tp-5:5px;
$tp-7:7px;
$tp-10:10px;
$tp-15:15px;
$tp-20:20px;
$tp-25:25px;
$tp-30:30px;
$tp-40:40px;
$tp-50:50px;
$tp-60:60px;
$tp-70:70px;
$tp-80:80px;
$tp-90:90px;
$tp-100:100px;
$tp-110:110px;
$tp-120:120px;
$tp-130:130px;
$tp-140:140px;
$tp-150:150px;
$tp-180:180px;
$tp-200:200px;
$tp-250:250px;
$tp-320:320px;
$fixed-p:fixed;
$absolute-p:absolute;
$relative-p:relative;

$float-l:left;
$float-r:right;

$primary-color: #fff !default;
$ball-size: 15px !default;
$margin: 2px !default;
$line-height: 35px !default;
$line-width: 4px !default;

 

